html, body {
    height: 100%;
}

nav {

    position: absolute;
    left: 0;
    width: 200px;
    height: 100%;

    display: flex;
    flex-direction: column;

}

wo-menu {

    flex: 1;
    min-width: 95%;

    padding: .5rem;

    background-color: red;

    position: relative;

}

wo-menu ul {

    padding: 0;
    list-style-type: none;

}

wo-menu ul li {

    cursor: pointer;

}

wo-menu section {

    position: absolute;
    bottom: 0px;
}

wo-favorites {

    flex: 1;
    min-width: 95%;

    padding: .5rem;

    background-color: #1e7e34;
}

div#content {

    margin-left: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

div#content > .split-vertical {

    flex: 1;

}

wo-control {

    padding: .5rem;

    background-color: #005cbf;

}

.split-horizontal {

    display: flex;
    flex-direction: row;

}

wo-workorders {

    flex: 1;
    padding: .5rem;

}

wo-offline-queue {

    flex: 1;
    padding: .5rem;

}

.actions {

    display: flex;

}

.actions > form {

    flex: 1;
    max-width: 5%;

}

.wo-list-item {

    flex: 1;
    max-width: 40%;
    padding: .5rem;
    vertical-align: middle;
    margin-bottom: .5rem;

}

.INITIALIZED {

    background-color: yellow;

}

.OPEN {

    background-color: #1e7e34;

}

.START {

    background-color: blue;

}

.STOP {

    background-color: red;

}

.COMPLETE {

    background-color: #1e7e34;

}

.wo-list-item > span {

    float: right;
    text-align: end;
    padding: .1rem;
    background-color: #95999c;
}

.offline-queue-container {

    display: flex;
    flex-direction: column;

}

.offline-queue-container .offline-list-item {

    flex: 1;
    flex-direction: row;

    display: flex;

}

.offline-queue-container .offline-list-item span {

    flex: 1;
    max-width: 33%;

}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}
