<!DOCTYPE html>
<html>

    <head>

        <title>Work Orders</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>

        <div class="container">

            <nav id="nav"></nav>

            <div id="content">

                <section id="workorder-details-container" class="split-vertical">
                    <header>
                        <h3>Work Order</h3>
                    </header>
                    <p>Workorder Goes Here!</p>
                </section>

                <section class="split-vertical">

                    <section class="split-horizontal">

                        <div id="workorders-list-container">
                            <header>
                                <h5>Work Orders</h5>
                            </header>
                        </div>

                        <div id="offline-queue-container">
                            <header>
                                <h5>Offline Work Queue</h5>
                            </header>
                        </div>

                    </section>

                </section>

<!--                <div id="create-workorder-form-container"></div>-->

            </div>

        </div>

        <footer id="footer"></footer>

        <script type="module" src="/js/index.js"></script>

    </body>

</html>